<!DOCTYPE html>
<html>
<head>
  <title>Photo Gallery</title>
</head>
<body>
  <h2>Photo Gallery</h2>

  <img src="/images/img1.jpg" style="width:150px; margin:5px;">
  <img src="/images/img2.jpg" style="width:150px; margin:5px;">
  <img src="/images/bird.jpg" style="width:150px; margin:5px;">

  <br><br>
  <a href="/users">Back to Users</a>
</body>
</html>
